@import './icons.css';
@import '../fonts/fonts.css';
@import './header.css';
@import './hero.css';
@import './candles.css';
@import './about.css';
@import './process.css';
@import './footer.css';

:root {
    --light-accent: #FFF3E0;
    --light: #FFCC80;
    --main: #D32F2F;
    --dark: #3E2723;
    --dark-accent: #FF8A65;
}

body {
    padding: 0;
    margin: 0;
    font-family: "Cormorant", serif;
}

.main {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 70px;
    gap: 2em;
}

.title {
    width: 60%;
    margin: 1.5em auto;
    text-align: center;
    font-size: 3em;
    color: var(--main);
    font-weight: bold;
}


.image-credit {
    position: absolute;
    z-index: 2;
    font-size: 0.7em;
    color: #fff;
    bottom: 1em;
    left: 1em;
}

.image-link {
    color: #fff;
    
}


.credit {
    width: 100%;
    bottom: 1em;
    position: absolute;
    color: #fff;
    font-size: 0.8em;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
}

.credit a {
    color: #fff;
}